section {
  padding: 140px 0;
  width: auto;
  height: auto;
  min-width: auto;
  max-width: auto;
  min-height: auto;
  max-height: auto;
  text-align: center;
}

header {
  padding: 1rem;
  border-bottom: 1px solid #eee;
}

nav {
  display: flex;
  justify-content: space-between;
}

footer {
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #eee;
}
